<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/sakura-dark.css" media="screen" />
    <link rel="stylesheet" href="/assets/css/styles.css" media="screen" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>encrypted-bytes.com</title>
</head>

<body style="background-color: #222222;">
    <h1>encrypted-bytes.com</h1>
    <p>[<a href="https://github.com/encrypted-bytes/server">source code</a>] [<a
            href="mailto:storage@joey.cloud">contact</a>] [<%= stats.fileCount %> files] [<%= stats.totalSize %>GB]</p>
    <blockquote>
        <p>“The only way to keep a secret is to never have one.”<br><small>— <a
                    href="https://www.goodreads.com/quotes/899649-the-only-way-to-keep-a-secret-is-to-never">Julian
                    Assange</a></small></p>
    </blockquote>
    <hr>
    <h2>Upload</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required />
        <button type="submit">Upload</button>
    </form>
    <hr>
    <h3>Info</h3>
    <ul>
        <li>
            <%= maxSize %> GB file size limit
        </li>
        <li>Files are encrypted using AES-256-CBC before saving to disk.</li>
        <li>No logs or decryption keys are stored by us.</li>
    </ul>
    <blockquote>
        <p>Upload using CURL:</p>
        <small>curl -X POST -H "Content-Type: multipart/form-data" -F "file=@****"
            https://encrypted-bytes.com/upload</small>
    </blockquote>
    <small><strong>2024-09-02</strong> Implemented file previews for common file types.</small>
</body>

</html>