<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/sakura-dark.css" media="screen" />
    <link rel="stylesheet" href="/assets/css/styles.css" media="screen" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>encrypted-bytes.com</title>
</head>

<body style="background-color: #222222;">
    <h1>encrypted-bytes.com</h1>
    <p>[<a href="https://github.com/encrypted-bytes/server">source code</a>] [<a
            href="mailto:storage@joey.cloud">contact</a>] [<%= stats.fileCount %> files] [<%= stats.totalSize %>GB]</p>
    <blockquote>
        <p>“The only way to keep a secret is to never have one.”<br><small>— <a
                    href="https://www.goodreads.com/quotes/899649-the-only-way-to-keep-a-secret-is-to-never">Julian
                    Assange</a></small></p>
    </blockquote>
    <hr>
    <h2>Upload</h2>
    <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
        <input type="file" name="file" required id="fileInput" />
        <button type="submit">Upload</button>
    </form>
    <small id="statusText" hidden> Your file is being encrypted and uploaded...</small>
    <progress id="uploadProgress" value="0" max="100" style="width: 100%;" hidden></progress>
    <small id="progressText" hidden></small>
    <textarea rows="8" readonly hidden></textarea>
    <noscript>
        <small>Enable JavaScript for E2E encryption and file upload progress.</small>
    </noscript>
    <hr>
    <h3>Info</h3>
    <ul>
        <li><%= maxSize %> GB file size limit</li>
        <li>All files are encrypted using AES-256-CBC.</li>
        <noscript>Please enable Javascript for E2E encrypted uploads.</noscript>
        <noscript>Files are encrypted server-side.</noscript>
        <li id="e2eMessage" hidden>Files are E2E encrypted.</li>
        <li>No logs or decryption keys are stored by us.</li>
    </ul>
    <blockquote>
        <p>Upload using CURL:</p>
        <small>curl -k -X POST -H "Content-Type: multipart/form-data" -F "file=@****"
            https://encrypted-bytes.com/upload</small>
    </blockquote>
    <small><strong>2024-10-03</strong> Implemented E2E file encryption when JS is enabled.</small>
    <script src="/assets/js/scripts.js"></script>
</body>

</html>